<a href="https://colab.research.google.com/github/zinseo964/dam_flow/blob/main/datascaling_2009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import os
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
rain_data09 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dam_flow_csv/09.csv',encoding='utf-8')
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dam_flow_csv/data.csv',encoding='utf-8')
print(rain_data09)

            date   hour  code name  rain
0     2009-01-16   3:00   101   춘천   0.1
1     2009-01-16   6:00   100  대관령   0.0
2     2009-01-16   6:00   101   춘천   0.2
3     2009-01-16   6:00   212   홍천   0.0
4     2009-01-16   9:00   100  대관령   0.0
...          ...    ...   ...  ...   ...
4077  2009-12-30  12:00   100  대관령   0.1
4078  2009-12-30  12:00   101   춘천   0.0
4079  2009-12-30  12:00   211   인제   0.5
4080  2009-12-30  12:00   212   홍천   0.1
4081  2009-12-30  15:00   211   인제   0.0

[4082 rows x 5 columns]

In [24]:
print(data)

date = []

for rain_date in rain_data09['date']:
  if rain_date not in date:
    date.append(rain_date)

print(date)

Empty DataFrame
Columns: [date, 0:00, 1:00, 2:00, 3:00, 4:00, 5:00, 6:00, 7:00, 8:00, 9:00, 10:00, 11:00, 12:00, 13:00, 14:00, 15:00, 16:00, 17:00, 18:00, 19:00, 20:00, 21:00, 22:00, 23:00]
Index: []

[0 rows x 25 columns]
['2009-01-16', '2009-01-18', '2009-01-19', '2009-01-22', '2009-01-23', '2009-01-24', '2009-01-25', '2009-01-26', '2009-01-30', '2009-01-31', '2009-02-01', '2009-02-03', '2009-02-05', '2009-02-10', '2009-02-11', '2009-02-12', '2009-02-13', '2009-02-14', '2009-02-15', '2009-02-19', '2009-02-20', '2009-02-23', '2009-02-24', '2009-02-25', '2009-02-26', '2009-03-02', '2009-03-03', '2009-03-05', '2009-03-06', '2009-03-13', '2009-03-19', '2009-03-20', '2009-03-22', '2009-03-23', '2009-03-25', '2009-03-26', '2009-03-29', '2009-03-30', '2009-03-31', '2009-04-01', '2009-04-14', '2009-04-15', '2009-04-16', '2009-04-19', '2009-04-20', '2009-04-21', '2009-04-22', '2009-04-24', '2009-04-25', '2009-04-26', '2009-04-27', '2009-04-28', '2009-05-02', '2009-05-05', '2009-05-10', '2009-05-11', '2009-05-12', '2009-05-15', '2009-05-16', '2009-05-17', '2009-05-21', '2009-05-22', '2009-05-23', '2009-05-26', '2009-05-27', '2009-05-30', '2009-05-31', '2009-06-02', '2009-06-03', '2009-06-06', '2009-06-07', '2009-06-09', '2009-06-10', '2009-06-11', '2009-06-12', '2009-06-13', '2009-06-14', '2009-06-15', '2009-06-16', '2009-06-17', '2009-06-20', '2009-06-21', '2009-06-22', '2009-06-28', '2009-06-29', '2009-06-30', '2009-07-01', '2009-07-02', '2009-07-03', '2009-07-04', '2009-07-05', '2009-07-06', '2009-07-07', '2009-07-09', '2009-07-10', '2009-07-11', '2009-07-12', '2009-07-13', '2009-07-14', '2009-07-15', '2009-07-17', '2009-07-18', '2009-07-19', '2009-07-20', '2009-07-21', '2009-07-23', '2009-07-24', '2009-07-25', '2009-07-26', '2009-07-28', '2009-07-29', '2009-07-31', '2009-08-01', '2009-08-02', '2009-08-03', '2009-08-06', '2009-08-07', '2009-08-08', '2009-08-09', '2009-08-10', '2009-08-11', '2009-08-12', '2009-08-13', '2009-08-17', '2009-08-18', '2009-08-19', '2009-08-20', '2009-08-23', '2009-08-26', '2009-08-27', '2009-08-28', '2009-08-29', '2009-08-30', '2009-08-31', '2009-09-07', '2009-09-08', '2009-09-11', '2009-09-12', '2009-09-21', '2009-09-22', '2009-09-26', '2009-09-27', '2009-09-28', '2009-10-04', '2009-10-07', '2009-10-08', '2009-10-09', '2009-10-13', '2009-10-14', '2009-10-16', '2009-10-17', '2009-10-19', '2009-10-21', '2009-10-23', '2009-10-24', '2009-10-30', '2009-10-31', '2009-11-01', '2009-11-02', '2009-11-04', '2009-11-05', '2009-11-07', '2009-11-08', '2009-11-09', '2009-11-10', '2009-11-11', '2009-11-12', '2009-11-13', '2009-11-15', '2009-11-20', '2009-11-21', '2009-11-22', '2009-11-23', '2009-11-25', '2009-11-26', '2009-11-28', '2009-11-29', '2009-11-30', '2009-12-03', '2009-12-05', '2009-12-08', '2009-12-09', '2009-12-10', '2009-12-11', '2009-12-12', '2009-12-22', '2009-12-23', '2009-12-25', '2009-12-26', '2009-12-27', '2009-12-29', '2009-12-30']

In [30]:
data['date'] = date

data = data.fillna(0)
data.index = data['date']
print(data)

                  date  0:00  1:00  2:00  3:00  4:00  5:00  6:00  7:00  8:00  \
date
2009-01-16  2009-01-16   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-01-18  2009-01-18   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-01-19  2009-01-19   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-01-22  2009-01-22   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-01-23  2009-01-23   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2009-12-25  2009-12-25   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-12-26  2009-12-26   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-12-27  2009-12-27   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-12-29  2009-12-29   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2009-12-30  2009-12-30   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

            ...  14:00  15:00  16:00  17:00  18:00  19:00  20:00  21:00  \
date        ...
2009-01-16  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-01-18  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-01-19  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-01-22  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-01-23  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...         ...    ...    ...    ...    ...    ...    ...    ...    ...
2009-12-25  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-12-26  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-12-27  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-12-29  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2009-12-30  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

            22:00  23:00
date
2009-01-16    0.0    0.0
2009-01-18    0.0    0.0
2009-01-19    0.0    0.0
2009-01-22    0.0    0.0
2009-01-23    0.0    0.0
...           ...    ...
2009-12-25    0.0    0.0
2009-12-26    0.0    0.0
2009-12-27    0.0    0.0
2009-12-29    0.0    0.0
2009-12-30    0.0    0.0

[192 rows x 25 columns]

In [33]:
for l in range(len(rain_data09)):
  date_value = rain_data09['date'][l]
  hour_value = rain_data09['hour'][l]
  code_value = rain_data09['code'][l]
  rain_value = rain_data09['rain'][l]
  rain = data.loc[date_value][hour_value]
  if code_value == 100:
    rain_value = rain_value * 0.114
  elif code_value == 101 :
    rain_value = rain_value * 0.128
  elif code_value == 90:
    rain_value = rain_value * 0.094
  elif code_value == 211:
    rain_value = rain_value * 0.668
  rain = rain + rain_value
  data.loc[date_value,hour_value] = rain

print(data)

                  date   0:00  1:00  2:00    3:00  4:00  5:00    6:00  7:00  \
date
2009-01-16  2009-01-16  0.000   0.0   0.0  0.0256   0.0   0.0  0.0512   0.0
2009-01-18  2009-01-18  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
2009-01-19  2009-01-19  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
2009-01-22  2009-01-22  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
2009-01-23  2009-01-23  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
...                ...    ...   ...   ...     ...   ...   ...     ...   ...
2009-12-25  2009-12-25  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
2009-12-26  2009-12-26  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
2009-12-27  2009-12-27  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
2009-12-29  2009-12-29  0.000   0.0   0.0  0.0000   0.0   0.0  0.0000   0.0
2009-12-30  2009-12-30  0.274   0.0   0.0  1.2548   0.0   0.0  0.0968   0.0

            8:00  ...  14:00   15:00  16:00  17:00   18:00  19:00  20:00  \
date              ...
2009-01-16   0.0  ...    0.0  0.3384    0.0    0.0  0.0000    0.0    0.0
2009-01-18   0.0  ...    0.0  0.1824    0.0    0.0  0.2512    0.0    0.0
2009-01-19   0.0  ...    0.0  0.0000    0.0    0.0  0.0000    0.0    0.0
2009-01-22   0.0  ...    0.0  0.0000    0.0    0.0  0.0000    0.0    0.0
2009-01-23   0.0  ...    0.0  0.0000    0.0    0.0  0.0000    0.0    0.0
...          ...  ...    ...     ...    ...    ...     ...    ...    ...
2009-12-25   0.0  ...    0.0  0.5952    0.0    0.0  0.6844    0.0    0.0
2009-12-26   0.0  ...    0.0  0.0000    0.0    0.0  0.0000    0.0    0.0
2009-12-27   0.0  ...    0.0  0.0256    0.0    0.0  0.9496    0.0    0.0
2009-12-29   0.0  ...    0.0  0.0000    0.0    0.0  0.1024    0.0    0.0
2009-12-30   0.0  ...    0.0  0.0000    0.0    0.0  0.0000    0.0    0.0

             21:00  22:00  23:00
date
2009-01-16  0.0000    0.0    0.0
2009-01-18  0.0000    0.0    0.0
2009-01-19  0.0000    0.0    0.0
2009-01-22  0.0256    0.0    0.0
2009-01-23  0.0000    0.0    0.0
...            ...    ...    ...
2009-12-25  0.0512    0.0    0.0
2009-12-26  0.0000    0.0    0.0
2009-12-27  0.0768    0.0    0.0
2009-12-29  0.1764    0.0    0.0
2009-12-30  0.0000    0.0    0.0

[192 rows x 25 columns]